## **Bruno Andrade Schiavone 2142546**
## **Pedro Bernardi Alves 1914618**

In [14]:
import six
import sys
sys.modules['sklearn.externals.six'] = six
import mlrose

## Representação do problema

In [15]:
def read(dataset):
    return [
        list_reader("datasets/%s_w.txt" % dataset),
        list_reader("datasets/%s_p.txt" % dataset),
        list_reader("datasets/%s_s.txt" % dataset),
        int(open('datasets/%s_c.txt' % dataset).read())
    ]

def list_reader(file_name):
    file = open(file_name).read().split('\n')
    file.remove('')
    return list(map(int, file))

In [ ]:
import numpy as np

melhores_custos_HC = {}
melhores_custos_SA = {}

for i in range(8):
    data = read('p%s' % str(i+1).zfill(2))
    max_weight_pct = data[3]/sum(data[0])
    fitness = mlrose.Knapsack(data[0], data[1], max_weight_pct)
    problem = mlrose.DiscreteOpt(length = len(data[0]), fitness_fn = fitness,
                                 maximize = True, max_val = 2)
    best_global_coust= fitness.evaluate(np.array(data[2]))
    for j in range(10):
        solucao_HC, melhor_custo_HC = mlrose.hill_climb(problem)
        solucao_SA, melhor_custo_SA = mlrose.simulated_annealing(problem)
        # Armazena o melhor custo para esta iteração
        if j == 0 or melhor_custo_HC > melhores_custos_HC[i][0]:
            melhores_custos_HC[i] = (melhor_custo_HC,best_global_coust, solucao_HC, data[2])
        if j == 0 or melhor_custo_SA > melhores_custos_SA[i][0]:
            melhores_custos_SA[i] = (melhor_custo_SA,best_global_coust, solucao_SA, data[2])

In [17]:
import pandas as pd

In [18]:
dt_HC = pd.DataFrame(melhores_custos_HC).T
dt_HC.columns = ['Melhor custo', 'Melhor custo global', 'Melhor solução','Melhor solução global']
dt_HC

,Melhor custo,Melhor custo global,Melhor solução,Melhor solução global
0,269.0,309,"[1, 0, 1, 1, 1, 0, 0, 0, 0, 0]","[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]"
1,51.0,51,"[0, 1, 1, 1, 0]","[0, 1, 1, 1, 0]"
2,150.0,150,"[1, 1, 0, 0, 1, 0]","[1, 1, 0, 0, 1, 0]"
3,107.0,107,"[1, 0, 0, 1, 0, 0, 0]","[1, 0, 0, 1, 0, 0, 0]"
4,898.0,900,"[1, 0, 1, 1, 1, 1, 0, 0]","[1, 0, 1, 1, 1, 0, 1, 1]"
5,1688.0,1735,"[0, 1, 0, 0, 1, 0, 1]","[0, 1, 0, 1, 0, 0, 1]"
6,1446.0,1458,"[0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1]","[1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1]"
7,13278442.0,13549094,"[1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, ...","[1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, ..."

In [19]:
dt_SA = pd.DataFrame(melhores_custos_SA).T
dt_SA.columns = ['Melhor custo', 'Melhor custo global', 'Melhor solução','Melhor solução global']
dt_SA

,Melhor custo,Melhor custo global,Melhor solução,Melhor solução global
0,309.0,309,"[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]","[1, 1, 1, 1, 0, 1, 0, 0, 0, 0]"
1,51.0,51,"[0, 1, 1, 1, 0]","[0, 1, 1, 1, 0]"
2,119.0,150,"[0, 1, 1, 0, 0, 1]","[1, 1, 0, 0, 1, 0]"
3,105.0,107,"[1, 1, 0, 0, 0, 1, 1]","[1, 0, 0, 1, 0, 0, 0]"
4,900.0,900,"[1, 0, 1, 1, 1, 0, 1, 1]","[1, 0, 1, 1, 1, 0, 1, 1]"
5,1692.0,1735,"[0, 0, 1, 0, 0, 1, 1]","[0, 1, 0, 1, 0, 0, 1]"
6,1436.0,1458,"[1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1]","[1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1]"
7,13258227.0,13549094,"[1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, ...","[1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, ..."